body {
    background: #0f2027;
    color: #fff;
    font-family: 'Segoe UI',sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.world-clock {
    background: #203a43;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 20px #000;
    text-align: center;
}
.city {
    font-size: 1.5rem;
    margin: 15px 0;
}
#india {
    color: #ffcc00;
    font-weight: bold;
}